<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type = "ahistory.AhistoryDataBean" alias="Ahistory" />
		<typeAlias type = "auction.AuctionDataBean" alias="Auction" />
	<typeAlias type = "board.BoardDataBean" alias="Board" />
	<typeAlias type = "cart.CartDataBean" alias="Cart" />
	<typeAlias type = "gpurc.GpurcDataBean" alias="Gpurc" />
		<typeAlias type = "order.OrderDataBean" alias="Order" />
		<typeAlias type = "paylist.PaylistDataBean" alias="Paylist" />
		<typeAlias type = "reply.ReplyDataBean" alias="Reply" />
		<typeAlias type = "userlist.UserlistDataBean" alias="Userlist" />
	</typeAliases>
	<environments default = "development">
		<environment id ="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
				<property name="username" value="scott" />
				<property name="password" value="tiger" />
			</dataSource> 
		</environment>
	</environments>
	<mappers>
		<mapper resource="Ahistory.xml" />
		<mapper resource="Auction.xml" />
		<mapper resource="Board.xml" />
		<mapper resource="Cart.xml" />
		<mapper resource="Gpurc.xml" />
		<mapper resource="Order.xml" />
		<mapper resource="Paylist.xml" />
		<mapper resource="Reply.xml" />
		<mapper resource="Userlist.xml" />
		</mappers>
</configuration>

